@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System
@using System.Linq
@using NBrightCore.common
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/Articles/resx/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "Articles.view.cshtml", Model.ModuleId.ToString(""))
@AddPreProcessMetaData("filter", " and ((NB1.XMLData.value('(genxml/textbox/startdate)[1]','nvarchar(10)') = '' or NB1.XMLData.value('(genxml/textbox/enddate)[1]','nvarchar(10)') = '') or (NB1.XMLData.value('(genxml/textbox/startdate)[1]','datetime') <= GETDATE() and NB1.XMLData.value('(genxml/textbox/enddate)[1]','datetime') >= GETDATE())) ", "Articles.view.cshtml", Model.ModuleId.ToString(""))

<h1>@ResourceKey("View.news")</h1>

<div class="articles">
    @foreach (NBrightInfo info in Model.List)
        {
        var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
        <div class="articles-item">
        @if (Utils.IsDate(@info.GetXmlPropertyRaw("genxml/textbox/eventdate")))
            {
                var eventdate = Convert.ToDateTime(info.GetXmlPropertyRaw("genxml/textbox/eventdate"));
                <div class="formatdate ai-list">
                  <span class="fd-day">@(eventdate.ToString("dd"))</span>
                  <span class="fd-month">@(eventdate.ToString("MMM"))</span>
                </div>
            }
        @if (imageurl != "")
            {
                var title = info.GetXmlProperty("genxml/lang/genxml/textbox/title");
                <a href="@ResolveUrl("?eid=" + @info.ItemID)"><img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=556&h=248" alt="@(title)" /></a>
            }
        <h2><a href="@ResolveUrl("?eid=" + @info.ItemID)">@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</a></h2>
        <p class="articlesinfos"><span>@ResourceKey("View.published") </span>@info.GetXmlProperty("genxml/textbox/eventdate")<span> @ResourceKey("View.in") </span>@info.GetXmlProperty("genxml/lang/genxml/textbox/theme")</p>
        <p>@BreakOf(info, "genxml/lang/genxml/textbox/summary")</p>
        <a href="@ResolveUrl("?eid=" + @info.ItemID)" class="bigbutton">@ResourceKey("View.readmore")</a>
        </div>
        }
</div>