@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System
@using System.Linq
@using System.Xml
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/Articles/resx/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "Articles.view.cshtml", Model.ModuleId.ToString(""))
@AddPreProcessMetaData("filter", " and ((NB1.XMLData.value('(genxml/textbox/startdate)[1]','nvarchar(10)') = '' or NB1.XMLData.value('(genxml/textbox/enddate)[1]','nvarchar(10)') = '') or (NB1.XMLData.value('(genxml/textbox/startdate)[1]','datetime') <= GETDATE() and NB1.XMLData.value('(genxml/textbox/enddate)[1]','datetime') >= GETDATE())) ", "Articles.view.cshtml", Model.ModuleId.ToString(""))

@helper imageindex(NBrightInfo x, String index)
{
var imageurl = x.GetXmlProperty("genxml/imgs/genxml[" + index + "]/hidden/imageurl");
var openinlightbox = x.GetXmlPropertyBool("genxml/checkbox/openinlightbox");
var caption = x.GetXmlProperty("genxml/lang/genxml/imgs/genxml[" + index + "]/textbox/imgcaption");

if (imageurl != "")
{
    if (openinlightbox)
    {
            <a class="fancybox" rel="group@(x.ItemID)" title="@(caption)" href="@(imageurl)">
                <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=640&h=285" alt="@(caption)" />
            </a>
    }
    else
    {
            <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=640&h=285" alt="@(caption)" />
    }
}
}

@helper imagedisplay(NBrightInfo x)
{
var imgList = x.XMLDoc.SelectNodes("genxml/imgs/genxml");
if (imgList != null)
{
    var openinlightbox = x.GetXmlPropertyBool("genxml/checkbox/openinlightbox");
    var c = 1;
    foreach (XmlNode i in imgList)
    {
    if (c > 1) {
        var nbi = new NBrightInfo();
        nbi.XMLData = i.OuterXml;
        var imageurl = nbi.GetXmlProperty("genxml/hidden/imageurl");
        var caption = x.GetXmlProperty("genxml/lang/genxml/imgs/genxml[" + c + "]/textbox/imgcaption");

        if (imageurl != "")
        {
                if (openinlightbox)
                {
                    <div class="articlesgalimg">
                    <a class="fancybox" rel="group@(x.ItemID)" title="@(caption)" href="@(imageurl)">
                        <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=120&h=80" alt="@(caption)" />
                    </a>
                    </div>
                }
                else
                {
                    <div class="articlesgalimg">
                    <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=120&h=80" alt="@(caption)" />
                    </div>
                }
        }
    }
    c += 1;

    }
}
}

@{
    var info = (NBrightInfo)Model.List.First();
}

<div class="articlesdiv">

  <p>@imageindex(info, "1")</p>
  
  <h1>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h1>
  <p class="articlesinfos"><span>@ResourceKey("View.published") </span>@info.GetXmlProperty("genxml/textbox/eventdate")<span> @ResourceKey("View.in") </span>@info.GetXmlProperty("genxml/lang/genxml/textbox/theme")</p>

  <p>@HtmlOf(info, "genxml/lang/genxml/textbox/infodesc")</p>

  <a href="javascript:history.back()" class="bigbutton">@ResourceKey("Edit.return")</a>

  <hr />

  <div class="articlesgal">
    @imagedisplay(info)
  </div>

</div>

