@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@AddMetaData("resourcepath",GetTemplateRelPath("Theme.ascx.resx", Model, "resx").ToString())

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<h4>@ResourceKey("Theme.contactus")</h4>

<div class="contactsat-infos">

<div class="contact-item">
  <span><i class="fas fa-map-marker-alt fa-fw"></i></span>
  @info.GetXmlProperty("genxml/textbox/address1")
  @if (info.GetXmlProperty("genxml/textbox/address2") != "") {
  <br />@info.GetXmlProperty("genxml/textbox/address2")
  }
  @if (info.GetXmlProperty("genxml/textbox/address3") != "") {
  <br />@info.GetXmlProperty("genxml/textbox/address3")
  }
  @if (info.GetXmlProperty("genxml/textbox/address4") != "") {
  <br />@info.GetXmlProperty("genxml/textbox/address4")
  }
</div>

<div class="contact-item">
  <span><i class="fas fa-phone fa-fw"></i></span>
  @info.GetXmlProperty("genxml/textbox/tel")
</div>

<div class="contact-item">
  <span><i class="far fa-envelope fa-fw"></i></span>
  @EmailOf(info,"genxml/textbox/email")
</div>

@if (info.GetXmlProperty("genxml/lang/genxml/textbox/extrainfos") != "") {
<div class="contact-item">
  <span><i class="far fa-clock fa-fw"></i></span>
  @BreakOf(info, "genxml/lang/genxml/textbox/extrainfos")
</div>
}

</div>