@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using System.Xml
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")

<div id="fileselectlistul" class="selectfiles list-group">

    @{
        var lp = 1;
        foreach (NBrightInfo x in Model.List)
        {
            <a class="fileselectitem list-group-item" href="javascript:void(0)" fname="@x.GetXmlProperty("genxml/hidden/filename")" name="@x.GetXmlProperty("genxml/hidden/name")" selectorcount="@(lp)">
              <span class="glyphicon glyphicon-ok fileselector@(lp) allow1selection docselect" style="display:none;"></span>
              @x.GetXmlProperty("genxml/hidden/docurl")
            </a>
            lp += 1;
        }
    }

</div>