@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using System.Xml
@using NBrightDNN


@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="xmlupdatedocs" type="hidden" value=""></input>

<div class="docinput panel panel-default">

    <div class="panel-heading clearfix">
	
	        @EditButtons("uploaddoc,undodoc", "docbuttons pull-right")

      <span class="panel-title">@ResourceKey("Edit.documents")</span>
    </div>
    <div class="panel-body">

            <div id="docselectlist" style="display: none;"></div>

            <div class="table-responsive">

                <table id="doclist" class="table">
                    <tbody>
                                <tr>
                                  <th>@ResourceKey("Edit.file")</th>
                                  <th>@ResourceKey("Edit.description")</th>
                                    <th>@ResourceKey("Edit.count")</th>
                              <th>@ResourceKey("Edit.actions")</th>
                                </tr>

                @{
                    var doclp = 1;
                    foreach (XmlNode imgNod in info.XMLDoc.SelectNodes("genxml/docs/genxml"))
                    {
                        var docurl = info.GetXmlProperty("genxml/docs/genxml[" + doclp + "]/hidden/docurl");

                        <tr class="docitem">
                                    <td>
                            @HiddenField(info, "genxml/docs/genxml[" + doclp + "]/hidden/ref", " update='docsave' ")
                            @HiddenField(info, "genxml/docs/genxml[" + doclp + "]/hidden/filename", " update='docsave' ")
                            @HiddenField(info, "genxml/docs/genxml[" + doclp + "]/hidden/docurl", " update='docsave' ")
                            @HiddenField(info, "genxml/docs/genxml[" + doclp + "]/hidden/docpath", " update='docsave' ")
									<a href="@(docurl)" target="_blank">@info.GetXmlProperty("genxml/docs/genxml[" + doclp + "]/hidden/filename")</a>
									</td>
                                    <td>@NBrightTextBox(info, "genxml/lang/genxml/docs/genxml[" + doclp + "]/textbox/docdesc", " update='doclang' ")</td>
                                    <td>@NBrightTextBox(info, "genxml/docs/genxml[" + doclp + "]/textbox/downloadcount", " update='docsave' style='width: 80px' ","0")</td>
                                    <td>
                                    @IconButtons(info, "de,su,sd")
                                    </td>
                        </tr>

                        doclp += 1;
                    }
                }
                    </tbody>
                              </table>

            </div>
    </div>

</div>


<script>

$('[data-tooltip="tooltip"]').tooltip();

</script>