@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightDNN

@{

    // see if we have defined action buttons from the list template
    var actionbuttons = "e,ui,su,sd";
    if (Model.GetSetting("actionbuttons") != "")
    {
        actionbuttons = Model.GetSetting("actionbuttons");
    }

}

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", Model.GetSetting("preprocesskey"))

<div class="table-responsive">
    <table id="editdatalist" class="table table-striped">
        <tbody>
<tr>
  <th>Image</th>
  <th>Title</th>
  <th>Actions</th>
</tr>
		            @foreach (NBrightInfo infoitem in Model.List)
                    {
                        // dummy record inject for empty list
                        if (@infoitem.ItemID > 0)
                        {
                        var imageurl = infoitem.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
                    <tr class="datalistitem">
		                                <td>
		                                    @if (imageurl != "")
		                                    {
		                                    <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=100&h=50"/>
		                                    }
		                                </td>
		                                <td>
                                        <div class="input-group">
                                        @TextBox(infoitem, "genxml/lang/genxml/textbox/title", "class='form-control'")
                                        <span class="input-group-addon"><img src='/Images/Flags/@(infoitem.Lang).gif' width='24px'/></span>
                                        </div>
		                                </td>
                                    <td>
										                @IconButtons(infoitem, actionbuttons)
		                                <input id="itemid" type="hidden" value="@infoitem.ItemID"/>
		                                <input id="moduleid" type="hidden" value="@infoitem.ModuleId"/>
		                                <input id="lang" type="hidden" value="@infoitem.Lang"/>
                                    </td>
		                            </tr>
		                }
		            }
        </tbody>
</table>
</div>

<script>

$('[data-tooltip="tooltip"]').tooltip();

</script>