@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")

<!-- loading display to cover buttons, to stop multiple clicks -->
<div id="loader" class="processing" style="display:none;"><i class="glyphicon glyphicon-cog"></i></div>

<!-- this div is used as a recycle bin for undo JS-->
<div id="recyclebin" style="display: none;"></div>

<!-- div section to pass param data to the server side ajax functions -->
<div id="selectparams">
    <input id="lang" type="hidden" value="@Model.GetUrlParam("language")"></input> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
    <input id="editlang" type="hidden" value=""></input> <!-- culture code being edited -->
    <input id="moduleid" type="hidden" value="@Model.GetUrlParam("mid")"></input>
    <input id="tabid" type="hidden" value="@Model.GetUrlParam("tabid")"></input>
    <input id="index" type="hidden" value=""></input>
    <input id="selecteditemid" type="hidden" value=""></input> <!-- used as selected edit itemid -->
    <input id="newitem" type="hidden" value=""></input> <!-- used to hold "new" oken to create new record -->
    <input id="selectedfiles" type="hidden" value="" /> <!-- list of files to be added (already uploaded) -->
    <input id="displayreturn" type="hidden" value="" /> <!-- LIST or DETAIL, so return display from file upload is correct -->
    <input id="uploadtype" type="hidden" value="" /> <!-- DOC or IMAGE, so file upload operation is correct -->
</div>

<div>
    @Model.GetSetting("singlepageedit").ToLower()
    @Model.GetSetting("singlepageitemid")
</div>

<!-- hold url to exit edit and settings page -->
@{
    var tabid = Model.GetUrlParam("tabid");


    // inject script to force display of single page
    if (Model.GetSetting("singlepageedit").ToLower() == "true" && Model.GetSetting("singlepageitemid") != "")
    {
        <script> $('#selecteditemid').val('@(Model.GetSetting("singlepageitemid"))') </script>
    }

}
<input id="exiturl" type="hidden" value="//@WebsiteUrl("tabid=" + tabid)"></input>


<!-- Modal File operation popup -->
<div id="NBrightModModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@ResourceKey("Edit.filemanager")</h4>
            </div>
            <div class="modal-body">

                <div id="fileoperation">
                    <div class="buttons editdata">
                      <button id="uploadfiles" type="button" class="btn btn-success fileupload-button"><span class="glyphicon glyphicon-arrow-up"></span> @ResourceKey("Edit.upload")</button>
                      <button id="deleteselectedfiles" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> @ResourceKey("Edit.deleteselected")</button>
                    </div>
                    <div class="hiddenfile" style="display: none;">
                      <input type="file" id="fileupload" name="files[]" multiple />
                    </div>
                    <div class="fileinput">
                      <div id="fileselectlist"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="fileselectclose" type="button" class="btn btn-default" data-dismiss="modal">@ResourceKey("Edit.close")</button>
                @if (Model.GetSetting("replacefiles") == "true")
                {
                  <button id="replaceselectedfiles" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> @ResourceKey("Edit.addselected")</button>
                }
                else
                {
                  <button id="addselectedfiles" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> @ResourceKey("Edit.addselected")</button>
                }
            </div>
        </div>

    </div>
</div>


