@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List[0];

    // see if we have defined action buttons from the list template
    var actionbuttons = "e,ui,su,sd";
    if (Model.GetSetting("actionbuttons") != "")
    {
        actionbuttons = Model.GetSetting("actionbuttons");
    }

}

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", Model.GetSetting("preprocesskey"))

<div class="table-responsive">
    <table id="editdatalist" class="table table-striped">
        <tbody>
            <tr fixedsort="true">
                <th>Image</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            @foreach (NBrightInfo x in Model.List)
            {
                // dummy record inject for empty list
                if (@x.ItemID > 0)
                {
                    var imageurl = x.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
                    <tr class="datalistitem">
                        <td>
                            @if (imageurl != "")
                            {
                                <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=100&h=50" />
                            }
                        </td>
                        <td>
                            <div class="input-group">
                                @TextBox(x, "genxml/lang/genxml/textbox/title", "class='form-control'")
                                <span class="input-group-addon"><img src='/Images/Flags/@(x.Lang).gif' width='24px' /></span>
                            </div>
                        </td>
                        <td>
                            @IconButtons(x, actionbuttons)
                            <input id="itemid" type="hidden" value="@x.ItemID"/>
                            <input id="moduleid" type="hidden" value="@x.ModuleId"/>
                            <input id="lang" type="hidden" value="@x.Lang"/>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>

$('button').tooltip();

</script>