@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using System.Xml
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List.First();
}

<div class="row headerinput">
    <div class="form dnnForm">
        <div class="form-group">
            <div class="col-sm-8">
                <label class="control-label">@ResourceKey("Edit.heading")</label>
                @NBrightTextBox(info, "genxml/lang/genxml/textbox/title", "width='300px' maxlength='250' ")
            </div>
            <div class="col-sm-4">
                <label class="control-label">@ResourceKey("Edit.anchor")</label>
                @NBrightTextBox(info, "genxml/lang/genxml/textbox/anchor", "", "")
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label">@ResourceKey("Edit.headingstyle")</label>
                @DropDownList(info, "genxml/dropdownlist/headingstyle", "h1,h2,h3,h4", "H1,H2,H3,H4", " class='form-control' ", "")
            </div>
            <div class="col-sm-6">
                <label class="control-label">@ResourceKey("Edit.alignment")</label>
                @RadioButtonList(info,"genxml/radiobuttonlist/headingalignment","0,1,2","ResourceKey:Edit.headingalignment","","0")
            </div>
            <div class="col-sm-4">
                <label class="control-label">@ResourceKey("Settings.hideheading")</label>
                @CheckBox(info, "genxml/checkbox/hideheading", "", " class='dnnCheckbox'")
            </div>
        </div>
    </div>
</div>