@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID"></input>
<input id="moduleid" type="hidden" value="@info.ModuleId"></input>
<input id="lang" type="hidden" value="@info.Lang"></input>

<div id="recyclebin" style="display:none;"></div>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("s,ex")

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/editortext-shared.cshtml", Model)

