@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@AddMetaData("resourcepath",GetTemplateRelPath("Theme.ascx.resx", Model, "resx").ToString())

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div class="contact-infos">

<h1>@info.GetXmlProperty("genxml/textbox/company")</h1>

<div class="contact-item">
  <span><i class="fas fa-map-marker-alt fa-fw fa-lg"></i></span>
  @info.GetXmlProperty("genxml/textbox/address1")
  @if (info.GetXmlProperty("genxml/textbox/address2") != "") {
  <br />@info.GetXmlProperty("genxml/textbox/address2")
  }
  @if (info.GetXmlProperty("genxml/textbox/address3") != "") {
  <br />@info.GetXmlProperty("genxml/textbox/address3")
  }
  @if (info.GetXmlProperty("genxml/textbox/address4") != "") {
  <br />@info.GetXmlProperty("genxml/textbox/address4")
  }
</div>

<div class="contact-item">
  <span><i class="fas fa-phone fa-fw fa-lg"></i></span>
  @ResourceKey("Theme.tel") : @info.GetXmlProperty("genxml/textbox/tel")
  @if (info.GetXmlProperty("genxml/textbox/tel2") != "") {
  <br />@ResourceKey("Theme.tel2")@: : @info.GetXmlProperty("genxml/textbox/tel2")
  }
  @if (info.GetXmlProperty("genxml/textbox/fax") != "") {
  <br />@ResourceKey("Theme.fax")@: : @info.GetXmlProperty("genxml/textbox/fax")
  }
</div>

<div class="contact-item">
  <span><i class="far fa-envelope fa-fw fa-lg"></i></span>
  @ResourceKey("Theme.email") : @EmailOf(info,"genxml/textbox/email")
</div>


@if (info.GetXmlProperty("genxml/textbox/contact1") != "") {
<div class="contact-item">
  <span><i class="fas fa-user fa-fw fa-lg"></i></span>
  @info.GetXmlProperty("genxml/textbox/contact1")
  @if (info.GetXmlProperty("genxml/textbox/contactport1") != "") {
  <br />@ResourceKey("Theme.contactport")@: : @info.GetXmlProperty("genxml/textbox/contactport1")
  }
  @if (info.GetXmlProperty("genxml/textbox/contactemail1") != "") {
  <br />@ResourceKey("Theme.contactemail")@: : @info.GetXmlProperty("genxml/textbox/contactemail1")
  }
</div>
}

@if (info.GetXmlProperty("genxml/textbox/contact2") != "") {
<div class="contact-item">
  <span><i class="fas fa-user fa-fw fa-lg"></i></span>
  @info.GetXmlProperty("genxml/textbox/contact2")
  @if (info.GetXmlProperty("genxml/textbox/contactport2") != "") {
  <br />@ResourceKey("Theme.contactport")@: : @info.GetXmlProperty("genxml/textbox/contactport2")
  }
  @if (info.GetXmlProperty("genxml/textbox/contactemail2") != "") {
  <br />@ResourceKey("Theme.contactemail")@: : @info.GetXmlProperty("genxml/textbox/contactemail12")
  }
</div>
}

@if (info.GetXmlProperty("genxml/lang/genxml/textbox/extrainfos") != "") {
<div class="contact-item">
  <span><i class="far fa-clock fa-fw fa-lg"></i></span>
  @BreakOf(info, "genxml/lang/genxml/textbox/extrainfos")
</div>
}

</div>