@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/GoogleMap/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("sr,s,d,r")

<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">

        <div class="formrow">
            <label>@ResourceKey("Edit.title")</label>
            <div>@NBrightTextBox(info, "genxml/lang/genxml/textbox/title")</div>
        </div>
        <div class="formrow">
            <label>@ResourceKey("Edit.latitude")</label>
            <div>@NBrightTextBox(info, "genxml/textbox/lat")</div>
        </div>
        <div class="formrow">
            <label>@ResourceKey("Edit.longitude")</label>
            <div>@NBrightTextBox(info, "genxml/textbox/long")</div>
        </div>

    </div>
    </div>
</div>
