@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/GoogleMap/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<div>
    <div>
        @DnnLabel("lblwidth","Settings.width")@TextBox(info,"genxml/textbox/width","class='form-control' width='100px' maxlength='5' ","100%")
    </div>
    <div>
        @DnnLabel("lblheight","Settings.height")@TextBox(info, "genxml/textbox/height", "class='form-control' width='100px' maxlength='5' ", "400px")
    </div>
    <div>
        @DnnLabel("lblautozoomlimit","Settings.autozoomlimit")@TextBox(info, "genxml/textbox/autozoomlimit", "class='form-control' width='100px' maxlength='5' ")
    </div>
    <div>
        @DnnLabel("lblscrollwheel","Settings.scrollwheel")@CheckBox(info,"genxml/checkbox/scrollwheel","","")
    </div>
</div>

