@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
    var flaglang = info.Lang;
    if (flaglang == "")
    {
        flaglang = "none";
    }

}

<input id="lang" type="hidden" value="@info.Lang"></input>
<input id="editlang" type="hidden" value="" />
<input id="currentedittab" type="hidden" value="@info.GetXmlProperty("genxml/hidden/currentedittab")" />


@EditCultureSelect("flag-list", "selecteditlanguage",true)


    <ul id="dock">
        <li id="templfiles">
            @TemplateFileSelect(info, "free", "", "<li class='header'><a href='#' class='dock'>Dock</a><a href='#' class='undock'>Undock</a>default</li>", "editfields.cshtml,settings.cshtml,viewpageheader.cshtml,view.cshtml,Edit.ascx.resx,View.ascx.resx")
        </li>
        <li id="templfiles">
            @TemplateFileSelect(info, "free","", "<li class='header'><a href='#' class='dock'>Dock</a><a href='#' class='undock'>Undock</a>default</li>", "")
        </li>
    </ul>

<div id="tabs">

    <ul>

        <li><a href="#tabs-1">@info.GetXmlProperty("genxml/templfilename")</a></li>

        <li><a href="#tabs-2">@info.GetXmlProperty("genxml/resxfilename")</a></li>

    </ul>

    <div id="tabs-1">
        <div class='buttons'>
            <button id='savedatatempl' type='button' class='savedata btn btn-success'><span class='glyphicon glyphicon-save'></span>@ResourceKey("Edit.save")</button>
            <button id='deleteportaltempl' type='button' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span>@ResourceKey("Edit.deleteportaltempl")</button>
        </div>

        <div id="simpletexteditor">
            <div>
                <span class='input-group-addon'><img src='/Images/Flags/@(flaglang).gif' width='24px' /></span>
            </div>
            <textarea rows="50" id="simpletext" class="" update="lang" type="text" style="height: 750px; width: 100%">@info.GetXmlProperty("genxml/templtext")</textarea>
        </div>

    </div>

    <div id="tabs-2">
        <div class='buttons'>
            <button id='savedataresx' type='button' class='savedata btn btn-success'><span class='glyphicon glyphicon-save'></span>@ResourceKey("Edit.save")</button>
            <button id='deleteportalresx' type='button' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span>@ResourceKey("Edit.deleteportalresx")</button>
        </div>

        <div id="resxtexteditor">
            <div>
                <span class='input-group-addon'><img src='/Images/Flags/@(flaglang).gif' width='24px' /></span>
            </div>
            <textarea rows="50" id="resxdata" class="" update="lang" type="text" style="height: 750px; width: 100%">@info.GetXmlProperty("genxml/resxdata")</textarea>
        </div>

    </div>

</div>



