@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System
@using System.Linq
@using System.Xml
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List.First();
    var flaglang = info.GetXmlProperty("genxml/editlang");
    if (flaglang == "")
    {
        flaglang = "none";
    }

}

<input id="lang" type="hidden" value="@info.Lang"></input>
<input id="editlang" type="hidden" value="@info.GetXmlProperty("genxml/editlang")" />
<input id="currentedittab" type="hidden" value="@info.GetXmlProperty("genxml/hidden/currentedittab")" />
<input id="resxfilename" type="hidden" value="@info.GetXmlProperty("genxml/resxfilename")" />

<script>
$(function() {
  $( "#sideeditmenu" ).accordion({
     heightStyle: "content"
  });
});
</script>

@if (info.GetXmlPropertyBool("genxml/modulelevel"))
{
    <h3>@ResourceKey("Edit.modulelevel") (@info.GetXmlProperty("genxml/themefolder"))</h3>
}
else
{
    <h3>@ResourceKey("Edit.portallevel") (@info.GetXmlProperty("genxml/themefolder"))</h3>
}

<div class="NBM">
@EditCultureSelect("flag-list", "selecteditlanguage", true)    
</div>

<div id="sideeditmenu">
  <h3><i class="fa fa-file-code-o"></i>General Files</h3>
  @TemplateFileSelect(info, "", "", "", "editfields.cshtml,settings.cshtml,viewpageheader.cshtml,view.cshtml")
  <h3><i class="fa fa-file-code-o"></i>All Files</h3>
  @TemplateFileSelect(info, "", "", "", "")
  <h3><i class="fa fa-file-code-o"></i>Snippet Input</h3>
  @GetSnippets("", "", "", "root/input/*")
  <h3><i class="fa fa-file-code-o"></i>Snippet Process</h3>
  @GetSnippets("", "", "", "root/process/*")
</div>

<div id="tabs">

    <!-- Using JQuery tabs, bootstrap has some issues display textbox data -->
    <ul class="nav nav-tabs">

        <li><a href="#tabs-1">@info.GetXmlProperty("genxml/displayfilename")</a></li>

        <li><a href="#tabs-2">@info.GetXmlProperty("genxml/resxfilename")</a></li>

    </ul>

    <div class="tab-content">
        <div id="tabs-1">
            <div class='buttons'>
                <button id='savedatatempl' type='button' class='savedata btn btn-success'><span class='glyphicon glyphicon-save'></span>@ResourceKey("Edit.save")</button>
                @if (IsPortalTemplate(info, info.GetXmlProperty("genxml/displayfilename")) && !info.GetXmlPropertyBool("genxml/modulelevel"))
                {
                    <button id='deleteportaltempl' type='button' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span>@ResourceKey("Edit.deleteportaltempl")</button>
                }
                @if (IsModuleTemplate(info, info.GetXmlProperty("genxml/templfilename")) && info.GetXmlPropertyBool("genxml/modulelevel"))
                {
                    <button id='deletemoduletempl' type='button' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span>@ResourceKey("Edit.deletemoduletempl")</button>
                }
            </div>

            <div>
                @if (info.GetXmlPropertyBool("genxml/modulelevel"))
                {
                    if (IsModuleTemplate(info, info.GetXmlProperty("genxml/templfilename")))
                    {
                        @ResourceKey("Edit.moduletemplateloaded")
                    }
                    else
                    {
                        if (IsPortalTemplate(info, info.GetXmlProperty("genxml/displayfilename")))
                        {
                            if (IsPortalDefaultTemplate(info, info.GetXmlProperty("genxml/displayfilename")))
                            {
                                @ResourceKey("Edit.defaulttemplateloaded")
                            }
                            else
                            {
                                @ResourceKey("Edit.portaltemplateloaded")
                            }
                        }
                        else
                        {
                            if (IsModuleDefaultTemplate(info, info.GetXmlProperty("genxml/displayfilename")))
                            {
                                @ResourceKey("Edit.defaulttemplateloaded")
                            }
                            else
                            {
                                @ResourceKey("Edit.systemtemplateloaded")
                            }
                        }
                    }
                }
                else
                {
                    if (IsPortalTemplate(info, info.GetXmlProperty("genxml/displayfilename")))
                    {
                            @ResourceKey("Edit.portaltemplateloaded")
                    }
                    else
                    {
                        if (IsPortalDefaultTemplate(info, info.GetXmlProperty("genxml/displayfilename")))
                        {
                            @ResourceKey("Edit.defaulttemplateloaded")
                        }
                        else
                        {
                            @ResourceKey("Edit.systemtemplateloaded")
                        }
                    }
                }

                
            </div>

            @if (info.GetXmlProperty("genxml/templrelpath") != "")
            {
                <div>
                    @info.GetXmlProperty("genxml/templrelpath")
                </div>
                if (info.GetXmlProperty("genxml/templfullpath").ToLower().EndsWith(".css"))
                {
                    <div>
                        <b>@ResourceKey("Edit.cssfilechange")</b>
                    </div>
                }
            }

            <div id="simpletexteditor">
                <div>
                    <span class='input-group-addon'><img src='/Images/Flags/@(flaglang).gif' width='24px' /></span>
                </div>
                <textarea rows="50" id="simpletext" class="" update="lang" type="text" style="height: 750px; width: 100%">@info.GetXmlProperty("genxml/templtext")</textarea>
            </div>

        </div>

        <div id="tabs-2">

            <!-- input used to return XML of resx fields --> 
            <input id="xmlupdateresx" type="hidden" value=""/>

            <div class='buttons'>
                <button id='savedataresx' type='button' class='savedata btn btn-success'><span class='glyphicon glyphicon-save'></span>@ResourceKey("Edit.save")</button>
                <button id='add_resxtextbox' type='button' class='btn btn-primary'><span class='glyphicon glyphicon-plus'></span>@ResourceKey("Edit.add")</button>
                @if (info.GetXmlPropertyBool("genxml/resxportal"))
                {
                    <button id='deleteportalresx' type='button' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span>@ResourceKey("Edit.deleteportalresx")</button>
                }
            </div>
            <div id="resxtexteditor">
                <div>
                    <span class='input-group-addon'><img src='/Images/Flags/@(flaglang).gif' width='24px' /></span>
                </div>
                <br/>
                <div id="resxtextboxes">
                    @{
                        var nodList = info.XMLDoc.SelectNodes("genxml/resxdata/genxml/item");
                        var lp = 1;
                        foreach (XmlNode nod in nodList)
                        {
                            <p class="itemresx">
                                <input type="text" id="resxkey@(lp)" size="50" value="@(nod.SelectSingleNode("key").InnerText)" update="save"/>&nbsp;<input type="text" id="resxvalue@(lp)" size="80" value="@(nod.SelectSingleNode("value").InnerText)" update="save"/>
                            </p>
                            lp += 1;
                        }

                    }
                </div>

            </div>

        </div>
    </div>

</div>





