@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System.Web.UI.HtmlControls
@using NBrightDNN


@{
    var info = (NBrightInfo)Model.List.First();
}

<!-- div section to pass param data to the server side ajax functions -->
<div id="selectparams">
    <input id="lang" type="hidden" value="@Model.GetUrlParam("language")" /> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
    <input id="editlang" type="hidden" value="" /> <!-- culture code being edited -->
    <input id="moduleid" type="hidden" value="@info.ModuleId" />
    <input id="tabid" type="hidden" value="@Model.GetUrlParam("tabid")" />
    <input id="index" type="hidden" value="" />
    <input id="razortemplate" type="hidden" value="config.settings.cshtml"></input>
</div>

<div class="hiddenfile" style="display: none;">
    <input type="file" id="docupload" name="docs[]" multiple accept="application/pdf" />
</div>
<div id="returnfile" style="display: none"></div> <!-- return point for ajax created force file download -->

<div id="nbrightmodsettings">

    <div>
        <div id="themedata">
            <input id="moduleid" type="hidden" value="@info.ModuleId"/>
            <div>
                @DnnLabel("lblthemefolder", "Settings.themefolder")
                @ThemeSelectList(info, "genxml/dropdownlist/themefolder", "/DesktopModules/NBright/NBrightMod/Themes", " ")
            </div>
            <div>
                @DnnLabel("lblSourceData", "Settings.sourcedata")
                @NBrightModSelectList(info, "genxml/dropdownlist/datasourceref", " ")
            </div>
            <div style="display: none;">
                @DnnLabel("lblUploadFolder", "Settings.uploadfolder")
                @TextBox(info, "genxml/textbox/settinguploadfolder","","")
            </div>
            <div>
                @DnnLabel("lbldebugmode", "Settings.lbldebugmode")
                @CheckBox(info, "genxml/checkbox/debugmode", "", "", false)
            </div>           

        </div>
    </div>
    <hr/>
    <div id="settingsdata"></div>

    <div>
        Ref: @info.GetXmlProperty("genxml/hidden/modref")
    </div>
    <div>
        <button id="resetsettings" type="button" class="dnnSecondaryAction">@ResourceKey("Settings.reset")</button>
    </div>

        <script>
            $(document).on("NBrightMod_nbxgetcompleted", NBrightMod_nbxgetCompleted); // assign a completed event for the ajax calls

            $(document).ready(function () {

                @if (info.GetXmlProperty("genxml/dropdownlist/themefolder") != "")
            {
                @:NBrightMod_nbxget('gettheme', '#themedata', '#settingsdata');
                            }
                $('a[id*="_cmdUpdate"]').click(function () {
                    NBrightMod_nbxget('savesettings', '#nbrightmodsettings');
                });
                $('#resetsettings').click(function () {
                    NBrightMod_nbxget('resetsettings', '#nbrightmodsettings');                    
                });
                $('#themefolder').change(function () {
                    NBrightMod_nbxget('savetheme', '#themedata');
                });
            });

            function NBrightMod_nbxgetCompleted(e) {

                if (e.cmd == 'resetsettings') {
                    location.reload();
                }
            };


        </script>

    </div>

