@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/GoogleMap/resx/")

<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>

<!-- NBrightMod specific css and js -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightMod/Themes/config/js/NBrightMod.js"></script>
<link href="/DesktopModules/NBright/NBrightMod/Themes/config/css/NBrightMod.css" rel="stylesheet" />

<!-- loading display to cover buttons, to stop multiple clicks -->
<div id="loader" class="processing" style="display:none;"><i class="glyphicon glyphicon-cog"></i></div>

<!-- Load these scripts to use nbrightajax functions -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightMod/Themes/config/js/nbrightajax.js"></script>
<script type="text/javascript" src="/DesktopModules/NBright/NBrightData/js/jquery.genxmlajax.js"></script>

<!-- Add nbright full standard version of bootstrap -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightData/bootstrap/js/bootstrap.min.js"></script>
<link href="/DesktopModules/NBright/NBrightData/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- div section to pass param data to the server side ajax functions -->
<div id="selectparams">
    <input id="currentculture" type="hidden" value="@Model.GetUrlParam("language")" ></input> <!-- get the current culture and pass to the ajax server side, so it knows what language is -->
    <input id="editlang" type="hidden" value="" ></input> <!-- culture code being edited -->
    <input id="moduleid" type="hidden" value="@Model.GetUrlParam("mid")" ></input>
    <input id="tabid" type="hidden" value="@Model.GetUrlParam("tabid")" ></input>
    <input id="index" type="hidden" value="" ></input>
    <input id="selecteditemid" type="hidden" value="" ></input> <!-- used as selected edit itemid -->
    <input id="newitem" type="hidden" value="" ></input> <!-- used to hold "new" oken to create new record -->
</div>

<!-- this div is used as a recycle bin for undo JS-->
<div id="recyclebin" style="display: none;"></div>

<!-- hold url to exit edit and settings page -->
@{
    var tabid = Model.GetUrlParam("tabid");
}
<input id="exiturl" type="hidden" value="//@WebsiteUrl("tabid=" + tabid)"></input>

<!-- div section to display ajax return -->
<div id="editdata"></div>

