@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/GoogleMap/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<div>
    <div>
        @DnnLabel("lblzoom","Settings.zoom")@DropDownList(info,"genxml/dropdownlist/zoom","0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22","0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22","class='form-control'","17")
    </div>
    <div>
        @DnnLabel("lblwidth","Settings.width")@TextBox(info,"genxml/textbox/width","class='form-control' width='100px' maxlength='5' ","100%")
    </div>
    <div>
        @DnnLabel("lblheight","Settings.height")@TextBox(info, "genxml/textbox/height", "class='form-control' width='100px' maxlength='5' ", "400px")
    </div>
    <div>
        @DnnLabel("lblwidth","Settings.infowidth")@TextBox(info,"genxml/textbox/infowidth","class='form-control' width='100px' maxlength='5' ","160")
    </div>
    <div>
        @DnnLabel("lblmaptypecontrol","Settings.maptypecontrol")@CheckBox(info,"genxml/checkbox/maptypecontrol","","",true)
    </div>
    <div>
        @DnnLabel("lblmapzoomcontrol","Settings.mapzoomcontrol")@CheckBox(info,"genxml/checkbox/mapzoomcontrol","","",true)
    </div>
    <div>
        @DnnLabel("lblmapstreetcontrol","Settings.mapstreetcontrol")@CheckBox(info,"genxml/checkbox/mapstreetcontrol","","",true)
    </div>


    <div>
        @DnnLabel("lbldebugmode","Settings.lbldebugmode")@CheckBox(info,"genxml/checkbox/debugmode","","")
    </div>
    <div>
        Ref: @info.GetXmlProperty("genxml/hidden/modref")        
    </div>
    


</div>

