@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/GoogleMap/resx/")

@{
    var msg = "";
    if (Model.Settings != null && !Model.Settings.ContainsKey("maptypecontrol")) // test specific theme setting to check for settings.
    {
        msg = ResourceKey("View.nosettings").ToString();
    }
}
@if (msg != "")
{
    @(msg)
}

@{
    var mapwidth = Model.GetSetting("width");
    var mapheight = Model.GetSetting("height");
    var mapTypeControl = Model.GetSetting("maptypecontrol").ToLower();
    var zoomControl = Model.GetSetting("mapzoomcontrol").ToLower();
    var streetViewControl = Model.GetSetting("mapstreetcontrol").ToLower();
    var info = (NBrightInfo)Model.List.First();
    var modid = info.ModuleId.ToString("");
    var latitude = info.GetXmlProperty("genxml/textbox/lat");
    var longitude = info.GetXmlProperty("genxml/textbox/long");
}

<script language="javascript" type="text/javascript">
function initialize() {

  var myLatlng = new google.maps.LatLng(@(latitude),@(longitude));
  var mapOptions = {
    zoom: @Model.GetSetting("zoom"),
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: @(mapTypeControl),
    zoomControl: @(zoomControl),
    streetViewControl: @(streetViewControl)
  }

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
  });

}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas" style="position:relative;width:@(mapwidth);height:@(mapheight);"></div>
