@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("s,d,r")

<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">
        <div class="form-group">
            <label>@ResourceKey("Edit.title")</label>
            @NBrightTextBox(info, "genxml/lang/genxml/textbox/title")
        </div>
        <div class="formrow">
            <label>@ResourceKey("Edit.link")</label>
            @RadioButtonList(info,"genxml/radiobuttonlist/rbllink","0,1,2,3","ResourceKey:Edit.linktypecsv","","0")
        </div>
        <div class="formrow internallink" style="display:none;">
            <label>@ResourceKey("Edit.linktab")</label>
            <div>@TabSelectList(info,"genxml/dropdownlist/linktab","class='form-control'",true)</div>
        </div>
        <div class="formrow externallink" style="display:none;">
            <label>@ResourceKey("Edit.linkhref")</label>
            <div>@NBrightTextBox(info, "genxml/lang/genxml/textbox/externalhref")</div>
        </div>
        <div class="formrow pdflink" style="display:none;">
            <label>@ResourceKey("Edit.linkpdf")</label>
            <div>@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/docs1-shared.cshtml", Model)</div>
        </div>
    </div>
    </div>
</div>

<script>
$(document).ready(function(){

        var tabddlvalue = $("input:checked[name*='rbllink']").val();
		displaylinksection(tabddlvalue);
        $("input[name*='rbllink']").click(function() {
          var tabddlvalue = $(this).val();
		  displaylinksection(tabddlvalue);
        });
		
		function displaylinksection(tabddlvalue){
          $(".internallink").hide();
          $(".externallink").hide();
          $(".pdflink").hide();
		  if (tabddlvalue == 1) $(".internallink").show();
		  if (tabddlvalue == 2) $(".externallink").show();
		  if (tabddlvalue == 3) $(".pdflink").show();		
		}

});
</script>