@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/LinksDownloads/resx/")

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "LinksDownloads.view.cshtml", Model.ModuleId.ToString(""))

<ul class="sec-menu">
    
    @foreach (NBrightInfo info in Model.List)
        {
        var tabddlvalue = @GetTabUrlByGuid(info, "/genxml/dropdownlist/linktab");
        var linkanchor = @info.GetXmlProperty("genxml/textbox/linkanchor");
        var externalURL = @info.GetXmlProperty("genxml/lang/genxml/textbox/externalhref");
        <li>
        @if (info.GetXmlPropertyInt("genxml/radiobuttonlist/rbllink") == 0)
        {
          @info.GetXmlProperty("genxml/lang/genxml/textbox/title")
        }
        @if (info.GetXmlPropertyInt("genxml/radiobuttonlist/rbllink") == 1)
        {
          if (linkanchor != "")
          {
          <a href="@(tabddlvalue)#@(linkanchor)">@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</a>
          }
          else
          {
          <a href="@(tabddlvalue)">@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</a>
          }
        }
        @if (info.GetXmlPropertyInt("genxml/radiobuttonlist/rbllink") == 2)
        {
          <a href="@(externalURL)" target="_blank">@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</a>
        }
        @if (info.GetXmlPropertyInt("genxml/radiobuttonlist/rbllink") == 3)
        {
			  var fileurl = "/DesktopModules/NBright/NBrightMod/XmlConnector.ashx?cmd=downloadfile&itemid=" + info.ItemID + "&fileindex=1";
			  <a href='@(fileurl)'>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</a>
        }
        </li>
        }

</ul>