@using System.Text.RegularExpressions
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/Documents/resx/")


<ul id="fileselectlistul" class="selectfiles" >
    @{
        var lp = 1;
        foreach (var x in @Model.List)
        {
            <li class="fileselectitem" fname="@x.GetXmlProperty("genxml/hidden/filename")" name="@x.GetXmlProperty("genxml/hidden/name")" selectorcount="@(lp)">
                <div class="filewrapper">@x.GetXmlProperty("genxml/hidden/docurl")
                    <span class="glyphicon glyphicon-plus fileselector@(lp) allow1selection" style="display: none;" ></span>
                </div>
            </li>
            lp += 1;
        }
    }
</ul>