@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/Documents/resx/")


<ul id="docselectlistul" class="selectdocs" >
    @{
        foreach (var x in @Model.List)
        {
            <li class="docselectitem" fname="@x.GetXmlProperty("genxml/hidden/filename")" name="@x.GetXmlProperty("genxml/hidden/name")">
                <div class="docwrapper">@x.GetXmlProperty("genxml/hidden/docurl")
                    <span class="glyphicon glyphicon-plus @x.GetXmlProperty("genxml/hidden/name") " style="display: none;" ></span>
                </div>
            </li>
        }
    }
</ul>