@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List[0];
}


@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/Documents/resx/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "Documents.editlist.cshtml" + info.ModuleId)

@EditCultureSelect("flag-list", "selecteditlistlanguage")


<div class="buttons">
        <button id="exitedit" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-log-out"></span>@ResourceKey("Edit.exit")</button>
        <button id="savelistdata" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-save"></span>@ResourceKey("Edit.save")</button>
        <button id="addnew" type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span>@ResourceKey("Edit.addnew")</button>
    </div>

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
		    <div class="box-content">
		        <ul id="editdatalist">

		            @foreach (var x in Model.List)
		            {
		                // dummy record inject for empty list
		                if (@x.ItemID > 0)
		                {
                            var folderfilename = x.GetXmlProperty("genxml/docs/genxml[1]/hidden/folderfilename");
		                    var docurl = x.GetXmlProperty("genxml/docs/genxml[1]/hidden/docurl");
		                    <li class="datalistitem form-group">
		                        <div class="col-xs-12 form-horizontal">
		                            <div class="row">
		                                <div class="col-xs-3">
		                                    @if (docurl != "")
		                                    {
		                                        @x.GetXmlProperty("genxml/docs/genxml[1]/hidden/filename")
		                                    }
		                                </div>
		                                <div class="col-xs-3">
		                                    @TextBox(x, "genxml/lang/genxml/textbox/title")<img src='/Images/Flags/@(x.Lang).gif' width='16px' />            
		                                    <span>(@x.GetXmlProperty("genxml/data/file[./folderfilename='" + folderfilename + "']/downloadcount"))</span>
		                                </div>
		                                <div class="col-xs-1">
		                                    <button type="button" class="btn btn-sm itemup" itemid="@x.ItemID"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
		                                </div>
		                                <div class="col-xs-1">
		                                    <button type="button" class="btn btn-sm itemdown" itemid="@x.ItemID"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
		                                </div>
                                        <div class="col-xs-4">
                                            <button type="button" class="btn btn-sm btn-success filelistclick" itemid="@x.ItemID"><span class="glyphicon glyphicon-plus"></span> @ResourceKey("Edit.upload")</button>
                                            <button type="button" class="btn btn-sm btn-danger deleteitemclick"><span class="glyphicon glyphicon-remove"></span>@ResourceKey("Edit.delete")</button>
                                        </div>
                                        @HiddenField(x, "genxml/hidden/sortrecordorder", "", "")
		                                <input id="itemid" type="hidden" value="@x.ItemID"/>
		                                <input id="moduleid" type="hidden" value="@x.ModuleId"/>
		                                <input id="lang" type="hidden" value="@x.Lang"/>
		                            </div>
		                        </div>
		                    </li>
		                }
		            }
		        </ul>
		    </div>
		</div>
	</div>
</div>