@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod//Themes/Documents/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>
<input id="xmlupdatedocs" type="hidden" value=""></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

<div class="buttons">
    <button id="return" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-triangle-left"></span>@ResourceKey("Edit.return")</button>
    <button id="delete" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>@ResourceKey("Edit.delete")</button>
    <button id="savedata" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-save"></span>@ResourceKey("Edit.save")</button>
</div>

    @helper docindex(String index)
    {
        var info = (NBrightInfo) Model.List.First();
        var docurl = info.GetXmlProperty("genxml/docs/genxml[" + index + "]/hidden/docurl");

        if (docurl != "")
        {
            <a href="javascript:void(0)">
                @(docurl)
            </a>
        }
        else
        {
            <div style="background: #848D92; color: #000000; height: 50px;">@ResourceKey("Edit.clickheredocs")</div>
        }

    }



<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">
        
        <div class="formrow">
            <div class="docclick">@docindex("1")</div>
        </div>

        <div class="formrow">
            <label>@ResourceKey("Edit.title")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px' />
            <div>@TextBox(info, "genxml/lang/genxml/textbox/title")</div>
        </div>
    </div>
    </div>
</div>

<div id="overlay" class="web_dialog_overlay"></div>
    
<div id="dialog" class="web_dialog">
    <div class="buttons editdata">

        <button id="canceladddocs" type="button" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-triangle-left"></span> @ResourceKey("Edit.cancel")</button>
        <button id="replaceselecteddocs" type="button" class="btn btn-sm btn-success" ><span class="glyphicon glyphicon-plus"></span> @ResourceKey("Edit.addselected")</button>
        <button id="deleteselecteddocs" type="button" class="btn btn-sm btn-danger" ><span class="glyphicon glyphicon-minus"></span> @ResourceKey("Edit.deleteselected")</button>
        <button id="uploaddocs" type="button" class="btn btn-sm btn-success docupload-button"><span class="glyphicon glyphicon-plus"></span> @ResourceKey("Edit.upload")</button>

    </div>
    <div class="hiddenfile" style="display: none;">
        <input type="file" id="docupload" name="docs[]" multiple/>
    </div>
       
    <div class="imginput">
        <div id="docselectlist" class="col-sm-12"></div>
    </div>
    
</div>