@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod//Themes/Documents/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div>
    <div>
        @DnnLabel("lbldisplaydownloadcount", "Settings.displaydownloadcount")@CheckBox(info, "genxml/checkbox/displaydownloadcount", "", "class='form-control'")
    </div>
    <div>
        @DnnLabel("lblallowedfiletypes", "Settings.allowedfiletypes")@TextBox(info, "genxml/textbox/allowedfiletypes", "class='form-control'", "")
    </div>
    

    <div style="display:none">
        <!-- set flag so upload of files replaces the current selected -->
        @CheckBox(info, "genxml/checkbox/replacedocs", "", "",true);
    </div>    


</div>

