@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightDNN


@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "Documents.view.cshtml", Model.ModuleId.ToString(""))

@{
    var msg = "";
    if (Model.Settings != null && !Model.Settings.ContainsKey("displaydownloadcount")) // test specific theme setting to check for settings.
    {
        msg = ResourceKey("View.nosettings").ToString();
    }
        var divid = "NBrightMod" + @Model.GetSetting("modref");
}
@(msg) 

<div id="@(divid)">

    
    @foreach (NBrightInfo info in Model.List)
    {
    var folderfilename = info.GetXmlProperty("genxml/docs/genxml[1]/hidden/folderfilename");
    <div class="item">
        @if (folderfilename != "")
        {
            var displayname = info.GetXmlProperty("genxml/lang/genxml/textbox/title");
            if (displayname == "")
            {
                displayname = info.GetXmlProperty("genxml/docs/genxml[1]/hidden/filename");
            }
            <a href='/DesktopModules/NBright/NBrightMod/XmlConnector.ashx?cmd=downloadfile&itemid=@(info.ItemID)&filename=@(folderfilename)'>@(displayname)</a>
            if (Model.GetSetting("displaydownloadcount") == "True")
            {
                <span>(@info.GetXmlProperty("genxml/data/file[./folderfilename='" + folderfilename + "']/downloadcount"))</span>                
            }
        }
    </div>
    }
</div>

