@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightCore.common
@using NBrightDNN

@AddMetaData("resourcepath",GetTemplateFilePath(Model.GetSetting("themefolder"), "Theme.resx", Model.GetSetting("modref"), "resx", false).ToString())

@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "ArticlesSat2.view.cshtml", Model.ModuleId.ToString(""))
@AddPreProcessMetaData("filter", " and ((NB1.XMLData.value('(genxml/textbox/startdate)[1]','nvarchar(10)') = '' or NB1.XMLData.value('(genxml/textbox/enddate)[1]','nvarchar(10)') = '') or (NB1.XMLData.value('(genxml/textbox/startdate)[1]','datetime') <= GETDATE() and NB1.XMLData.value('(genxml/textbox/enddate)[1]','datetime') >= GETDATE())) ", "ArticlesSat2.view.cshtml", Model.ModuleId.ToString(""))

<h4>@ResourceKey("Theme.news")</h4>

@foreach (NBrightInfo info in Model.List)
{
<div class="articlesat-item">
<a href="@(GetTabUrlByGuid(Model.GetSetting("sourcepage")) + "?eid=" + info.ItemID)"><strong>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</strong></a><br />
@BreakOf(info, "genxml/lang/genxml/textbox/summary")
</div>
}

<div class="articlesat-link">
<a href="@GetTabUrlByGuid(Model.GetSetting("sourcepage"))">@ResourceKey("Theme.allnews")</a>
</div>