@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath",GetTemplateFilePath(Model.GetSetting("themefolder"), "Theme.resx", Model.GetSetting("modref"), "resx", false).ToString())

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("sx,s,ex")

<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">

        <div class="form-group">
            <label>@ResourceKey("Theme.title")</label>
            @NBrightTextBox(info, "genxml/lang/genxml/textbox/title")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.text")</label>
            <div>@NBrightTextArea(info, "genxml/lang/genxml/textbox/text", "rows='4' ")</div>
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.extra")</label>
            @NBrightTextBox(info, "genxml/lang/genxml/textbox/extra")
        </div>
        
    </div>
    </div>
</div>

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/links-shared.cshtml", Model)

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/image1-shared.cshtml", Model)