@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System
@using System.Linq
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.HeaderData;
    if (info == null)
    {
        info = new NBrightInfo();
    }
}

<div id="editdatalistheader">

    <!-- the "_h" is appended to the id, so we have unique ids for all hidden fields. -->
    <input id="lang_h" type="hidden" value="@info.Lang" />
    <input id="editlang_h" type="hidden" value="@info.Lang" />
    <input id="modref_h" type="hidden" value="@info.GUIDKey" />
    <input id="displayreturn_h" type="hidden" value="listheader" />
    <input id="moduleid_h" type="hidden" value="@info.ModuleId"/>

    <div>
        <div class='input-group'>
            @DnnLabel("lbltitle", "Edit.title")
            @TextBox(info, "genxml/textbox/title", "", "")
        </div>
        <div class='input-group'>
            @DnnLabel("lbltitle", "Edit.title")
            @TextBox(info, "genxml/lang/genxml/textbox/title", "class='form-control'")
            <span class="input-group-addon"><img src='/Images/Flags/@(info.Lang).gif' width='24px' /></span>
        </div>
        <div class='input-group'>
            @DnnLabel("lbltitle", "Edit.title")
            @NBrightTextBox(info, "genxml/lang/genxml/textbox/title2", "class='form-control'", "")
        </div>
    </div>

</div>
