@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System
@using System.Linq
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List.First();
}

 <div>
    <div class='dnnFormItem'>
        @DnnLabel("lblUploadFolder", "Settings.uploadfolder")
        @TextBox(info, "genxml/textbox/settinguploadfolder", "", "slider")
    </div>
     <div class='dnnFormItem'>
        @DnnLabel("lblimgresize", "Settings.imgresize")@NBrightTextBox(info, "genxml/textbox/imgresize", "class='form-control' width='100px' maxlength='5' ", "1154")
    </div>
     <div class='dnnFormItem'>
        @DnnLabel("lblwidth", "Settings.width")@NBrightTextBox(info, "genxml/textbox/width", "class='form-control' width='100px' maxlength='5' ", "1154")
    </div>
     <div class='dnnFormItem'>
        @DnnLabel("lblheight", "Settings.height")@NBrightTextBox(info, "genxml/textbox/height", "class='form-control' width='100px' maxlength='5' ", "575")
    </div>
    <hr/>

     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>animation</span> </label></div> @DropDownList(info, "genxml/dropdownlist/animation", "fade,slide", "fade,slide", " update='save' class='form-control' ")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>easing</span> </label></div> @NBrightTextBox(info, "genxml/textbox/easing", "class='form-control' ", "swing")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>direction</span> </label></div> @DropDownList(info, "genxml/dropdownlist/direction", "horizontal,vertical", "horizontal, vertical", " update='save' class='form-control' ")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>reverse</span> </label></div> @DropDownList(info, "genxml/dropdownlist/reverse", "true,false", "true,false", " update='save' class='form-control' ", "false")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>animationLoop</span> </label></div> @DropDownList(info, "genxml/dropdownlist/animationloop", "true,false", "true,false", " update='save' class='form-control' ", "true")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>smoothHeight</span> </label></div> @DropDownList(info, "genxml/dropdownlist/smoothheight", "true,false", "true,false", " update='save' class='form-control' ", "false")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>startAt</span> </label></div> @NBrightTextBox(info, "genxml/textbox/startat", "class='form-control' ", "0")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>slideshow</span> </label></div> @DropDownList(info, "genxml/dropdownlist/slideshow", "true,false", "true,false", " update='save' class='form-control' ", "true")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>slideshowSpeed</span> </label></div> @NBrightTextBox(info, "genxml/textbox/slideshowspeed", "class='form-control' ", "7000")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>animationSpeed</span> </label></div> @NBrightTextBox(info, "genxml/textbox/animationspeed", "class='form-control' ", "600")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>initDelay</span> </label></div> @NBrightTextBox(info, "genxml/textbox/initdelay", "class='form-control' ", "0")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>randomize</span> </label></div> @DropDownList(info, "genxml/dropdownlist/randomize", "true,false", "true,false", " update='save' class='form-control' ", "false")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>controlNav</span> </label></div> @DropDownList(info, "genxml/dropdownlist/controlnav", "true,false", "true,false", " update='save' class='form-control' ", "true")
     </div>
     <div class='dnnFormItem'>
         <div class="dnnLabel"><label><span>directionNav</span> </label></div> @DropDownList(info, "genxml/dropdownlist/directionnav", "true,false", "true,false", " update='save' class='form-control' ", "true")
     </div>


    <hr/>
     <div class='dnnFormItem'>
        @DnnLabel("lblstyletext", "Settings.styletext")
        <textarea rows="50" id="styletext" class="" update="save" type="text" style="height: 250px; width: 100%"></textarea>
    </div>

    <div style="display: none">
        <!-- set flag so upload of files replaces the current selected -->
        @CheckBox(info, "genxml/checkbox/replaceimages", "", "", true);
    </div>

</div>

