@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", Model.GetSetting("themefolder") + ".view.cshtml", Model.ModuleId.ToString(""))

@{
    var msg = "";
    if (Model.Settings != null && !Model.Settings.ContainsKey("imgresize")) // test specific theme setting to check for settings.
    {
        msg = ResourceKey("View.nosettings").ToString();
    }
    var divid = "NBrightMod" + @Model.GetSetting("modref");
}
@(msg)


<div class="flexslider" id="@(divid)">
    <ul class="slides">

        @{
            var lp = 1;
        }
        @foreach (NBrightInfo info in Model.List)
        {
            var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
            <li>
                @if (imageurl != "")
                {
                    var width = Model.GetSetting("width");
                    var height = Model.GetSetting("height");
                    var title = info.GetXmlProperty("genxml/lang/genxml/textbox/title");
                    <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=@(width)&h=@(height)" alt="@(title)" />
                }
                <div class="flex-caption">
                    <h3>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h3>
                    <h3>@info.GetXmlProperty("genxml/lang/genxml/textbox/title2")</h3>
                    <p>@BreakOf(info, "genxml/lang/genxml/textbox/text")</p>
                    @if (info.GetXmlProperty("genxml/lang/genxml/textbox/linktext") != "")
                    {
                        var tabddl = @GetTabUrlByGuid(info, "/genxml/dropdownlist/linktab");
                        <a href="@(tabddl)" class="bigbutton">@info.GetXmlProperty("genxml/lang/genxml/textbox/linktext")</a>
                    }
                </div>
            </li>

            lp += 1;
        }

    </ul>
</div>

        <script type="text/javascript">
            $(document).ready(function() {

                $('#@(divid)').flexslider({
                    animation: '@Model.GetSetting("animation")', 
                    easing: '@Model.GetSetting("easing")', 
                    direction: '@Model.GetSetting("direction")', 
                    reverse: @Model.GetSetting("reverse"), 
                    animationLoop: @Model.GetSetting("animationloop"), 
                    smoothHeight: @Model.GetSetting("smoothheight"), 
                    startAt: @Model.GetSetting("startat"), 
                    slideshow: @Model.GetSetting("slideshow"), 
                    slideshowSpeed: @Model.GetSetting("slideshowspeed"), 
                    animationSpeed: @Model.GetSetting("animationspeed"), 
                    initDelay: @Model.GetSetting("initdelay"), 
                    randomize: @Model.GetSetting("randomize"), 
                    controlNav: @Model.GetSetting("controlnav"), 
                    directionNav: @Model.GetSetting("directionnav") 
                });

            });
        </script>

@{    
    var htmlstyle = Model.GetSetting("styletext");
    @HtmlOf(htmlstyle);
}
