@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@{

    // see if we have defined action buttons from the list template
    var actionbuttons = "e,di";
    if (Model.GetSetting("actionbuttons") != "")
    {
        actionbuttons = Model.GetSetting("actionbuttons");
    }

    // need to create a preprocess key so that metadata is cached against this template and not the sub-template called by @RenderTemplate
    Model.Settings.Add("preprocesskey", Model.GetSetting("themefolder") + ".editlist.cshtml" + Model.ModuleId);
}

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/ContactForm/resx/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.ModifiedDate desc", Model.GetSetting("preprocesskey"),Model.ModuleId.ToString(""))

@EditButtons("ex")

<div class="table-responsive">
    <table id="editdatalist" class="table table-striped">
        <tbody>
<tr>
  <th>@ResourceKey("Edit.date")</th>
  <th>@ResourceKey("Edit.name")</th>
  <th>@ResourceKey("Edit.actions")</th>
</tr>
		            @foreach (NBrightInfo infoitem in Model.List)
                    {
                        // dummy record inject for empty list
                        if (@infoitem.ItemID > 0)
                        {
                        var imageurl = infoitem.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
                    <tr class="datalistitem">
		                                <td>
		                                  @infoitem.ModifiedDate
		                                </td>
		                                <td>
                                      @infoitem.GetXmlProperty("genxml/textbox/name")
		                                </td>
                                    <td>
										                @IconButtons(infoitem, actionbuttons)
		                                <input id="itemid" type="hidden" value="@infoitem.ItemID"/>
		                                <input id="moduleid" type="hidden" value="@infoitem.ModuleId"/>
		                                <input id="lang" type="hidden" value="@infoitem.Lang"/>
                                    </td>
		                            </tr>
		                }
		            }
        </tbody>
</table>
</div>

<script>

$('[data-tooltip="tooltip"]').tooltip();

</script>