@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/GoogleMap/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div class="buttons editdata">
    <button id="return" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-triangle-left"></span>@ResourceKey("Edit.return")</button>
</div>

<div>
    <div>
        <label>@ResourceKey("View.name")</label>
        <div>@info.GetXmlProperty("genxml/textbox/name")</div>
    </div>
    <div>
        <label>@ResourceKey("View.email")</label>
        <div>@info.GetXmlProperty("genxml/textbox/clientemail")</div>
    </div>
    <div>
        <label>@ResourceKey("View.message")</label>
        <div>@info.GetXmlProperty("genxml/textbox/emailsendermsg")</div>
    </div>
</div>