@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/SimpleArticles/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("s,d,r")

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/image1-shared.cshtml", Model)

<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">
        <div class="form-group">
            <label>@ResourceKey("Edit.date")</label>
            @NBrightDate(info, "genxml/textbox/eventdate", " autocomplete='off' ")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Edit.title")</label>
            @NBrightTextBox(info, "genxml/lang/genxml/textbox/title")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Edit.theme")</label>
            @NBrightTextBox(info, "genxml/lang/genxml/textbox/theme")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Edit.infodesc")</label>
            <div id="richtexteditor">@RichTextBox(info, "genxml/lang/genxml/textbox/infodesc", "")</div>
            <div class="well well-sm"><img src='/Images/Flags/@(info.Lang).gif' width='24px' /></div>
        </div>
        <div class="form-group">
            <label>@ResourceKey("Edit.startdate")</label>
            @NBrightDate(info, "genxml/textbox/startdate", " autocomplete='off' ")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Edit.enddate")</label>
            @NBrightDate(info, "genxml/textbox/enddate", " autocomplete='off' ")
        </div>
    </div>
    </div>
</div>
