@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/SimpleArticles/resx/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "SimpleArticles.view.cshtml" + Model.ModuleId)
@AddPreProcessMetaData("filter", " and ((NB1.XMLData.value('(genxml/textbox/startdate)[1]','nvarchar(10)') = '' or NB1.XMLData.value('(genxml/textbox/enddate)[1]','nvarchar(10)') = '') or (NB1.XMLData.value('(genxml/textbox/startdate)[1]','datetime') <= GETDATE() and NB1.XMLData.value('(genxml/textbox/enddate)[1]','datetime') >= GETDATE())) ", "SimpleArticles.view.cshtml" + Model.ModuleId)

<h1>Actualités</h1>
<div class="simplearticles">
    
    @foreach (NBrightInfo infoitem in Model.List)
        {
        var imageurl = infoitem.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
        <div class="simplearticlesdiv">
        <div class="simplearticlesleft">
        @if (imageurl != "")
            {
                var title = infoitem.GetXmlProperty("genxml/lang/genxml/textbox/title");
                <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=150&h=100" alt="@(title)" />
            }
        <p>
        @infoitem.GetXmlProperty("genxml/textbox/eventdate")<br />
        @infoitem.GetXmlProperty("genxml/lang/genxml/textbox/theme")
        </p>
        </div>
        <div class="simplearticlesright">
        <h2>@infoitem.GetXmlProperty("genxml/lang/genxml/textbox/title")</h2>
        <p>@HtmlOf(infoitem, "genxml/lang/genxml/textbox/infodesc")</p>
        </div>
        <div class="clearfix"></div>
        </div>
        }

</div>