@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/Themes/AvailablityCalendar/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
    var mid = info.ModuleId;
}

<script type="text/javascript">
    var firstPass = true;

    $(function () {

        $('#inlineDatepicker@(mid)').datepick({ dateFormat: 'yyyy-mm-dd',
            multiSelect: 999, minDate: 0, maxDate: 730, monthsToShow: @Model.GetSetting("monthstoshow"), monthsOffset: 0, showOtherMonths: true,
            onSelect: onSelect@(mid), useMouseWheel: false, changeMonth: false, dayStatus: '', defaultStatus: '',
            renderer: $.datepick.themeRollerRenderer
        });

        var lst = "@info.GetXmlProperty("genxml/hidden/datedata")";
        var myArr = lst.split(',');
        $('#inlineDatepicker@(mid)').datepick('setDate', myArr);
        var currentTime = new Date();
        var year = currentTime.getFullYear();
        var month = currentTime.getMonth();
        $('#inlineDatepicker@(mid)').datepick('showMonth', year, month);

        firstPass = false;

    });

    function onSelect@(mid)(date) {
        // reset dates back to what's in database, workaround if user selects date.
        if (!firstPass) {
            firstPass = true; //don't cause an infinate loop, by calling this procedure within itself.
            var lst = "@info.GetXmlProperty("genxml/hidden/datedata")";
            var myArr = lst.split(',');
            $('#inlineDatepicker@(mid)').datepick('setDate', myArr);
            firstPass = false;
        }
    }

</script>

<h2>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h2>
<h3>@info.GetXmlProperty("genxml/lang/genxml/textbox/subtitle")</h3>
<div class="rpcontent">

<div id="inlineDatepicker@(mid)"></div>

    <div class="clearfix"></div>
    <div>
@info.GetXmlProperty("genxml/lang/genxml/textbox/legend")        
        <input id="datedata" type="hidden" value="@info.GetXmlProperty("genxml/lang/genxml/textbox/datedata")"></input>
    </div>
</div>