@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/FancyboxGallery/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<div>
    <div class="dnnFormItem">
        @DnnLabel("lblwidth","Settings.width")@TextBox(info, "genxml/textbox/width","class='form-control' width='100px' maxlength='5' ","370")
    </div>
    <div class="dnnFormItem">
        @DnnLabel("lblheight", "Settings.height")@TextBox(info, "genxml/textbox/height", "class='form-control' width='100px' maxlength='5' ", "370")
    </div>
    <div class='dnnFormItem'>
        @DnnLabel("lblreturnlimit", "Settings.returnlimit")@TextBox(info, "genxml/textbox/returnlimit","class='form-control' width='100px' maxlength='5' ","3")
    </div>
    <div class='dnnFormItem'>
        @DnnLabel("lblsourcepage", "Settings.sourcepage")@TabSelectList(info, "genxml/dropdownlist/sourcepage","class='form-control'",true)
    </div>
</div>

