@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/ContactDetails/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<h4>Contactez-nous</h4>

<p>
@info.GetXmlProperty("genxml/textbox/company")
<br />Service client / Contact :
<br />@ResourceKey("Edit.tel") : @info.GetXmlProperty("genxml/textbox/tel")
<br />@ResourceKey("Edit.email") : @EmailOf(info,"genxml/textbox/email")
</p>