@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/OwlSlider/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>
<input id="xmlupdateimages" type="hidden" value=""></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

<div class="buttons">
    <button id="return" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-triangle-left"></span>@ResourceKey("Edit.return")</button>
    <button id="delete" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>@ResourceKey("Edit.delete")</button>
    <button id="savedata" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-save"></span>@ResourceKey("Edit.save")</button>
</div>

    @helper imageindex(String index)
    {
        var info = (NBrightInfo) Model.List.First();
        var imageurl = info.GetXmlProperty("genxml/imgs/genxml[" + index + "]/hidden/imageurl");

        if (imageurl != "")
        {
            <a href="javascript:void(0)">
                <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=100&h=0"/>
            </a>
        }
        else
        {
            <div style="background: #848D92; color: #000000; height: 50px;">@ResourceKey("Edit.clickhereimages")</div>
        }

    }



<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">
        
        <div class="formrow">
            <div class="imageclick">@imageindex("1")</div>
            <button type="button" class="btn btn-sm btn-success imageclick"><span class="glyphicon glyphicon-plus"></span> @ResourceKey("Edit.upload")</button>

        </div>

        <div class="formrow">
            <label>@ResourceKey("Edit.title")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px' />
            <div>@TextBox(info, "genxml/lang/genxml/textbox/title")</div>
        </div>
        <div class="formrow">
            <label>@ResourceKey("Edit.infodesc")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px' />
            <div id="richtexteditor">
                @CheckBox(info, "genxml/checkbox/hidedescription", "ResourceKey:Edit.hidedescription", "True")
                @RichTextBox(info, "genxml/lang/genxml/textbox/infodesc", "")
            </div>
        </div>

    </div>
    </div>
</div>
