@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>
<input id="xmlupdateimages" type="hidden" value=""></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

<div class="buttons">
    <button id="return" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-triangle-left"></span>@ResourceKey("Edit.return")</button>
    <button id="delete" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>@ResourceKey("Edit.delete")</button>
    <button id="savedata" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-save"></span>@ResourceKey("Edit.save")</button>
</div>

<div class="row headerinput">
    <div class="form dnnForm">
        <div class="form-group">
            <div class="col-xs-12">
                <label class="control-label">@ResourceKey("Edit.heading")</label><img class="Flags" src='/Images/Flags/@(info.Lang).gif' width='16px' />
            </div>
            <div class="col-xs-12 col-sm-6">
                @TextBox(info, "genxml/lang/genxml/textbox/title", "width='300px' maxlength='250' class='form-control' ")
            </div>
            <div class="col-xs-6 col-sm-2">
                @DropDownList(info, "genxml/dropdownlist/headingstyle", "h1,h2,h3", "H1,H2,H3", " class='form-control' ", "")
            </div>
            <div class="col-xs-6 col-sm-4">
                @CheckBox(info, "genxml/checkbox/hideheading", "ResourceKey:Settings.hideheading", " class='dnnCheckbox'")
            </div>
        </div>
    </div>
</div>


<div class="row textinput">
    @RadioButtonList(info, "genxml/radiobuttonlist/editortype", "0,1", "ResourceKey:Settings.editortype", "", "0")
    <hr />
    <div id="simpletexteditor" style="display: none;">
        <textarea rows="50" id="simpletext" class="" update="lang" type="text" style="height: 250px; width: 100%">@info.GetXmlProperty("genxml/lang/genxml/textbox/simpletext")</textarea>
    </div>
    <div id="richtexteditor">
        @RichTextBox(info, "genxml/lang/genxml/textbox/ckeditor1", "")
    </div>
</div>


<div class="row imginput">
    <div class="form dnnForm">
        <div class="form-group">
            <div id="captionscheckbox" class="col-xs-12" style="display: none;">
                @CheckBox(info, "genxml/checkbox/showcaptions", "[<tag type='valueof' resourcekey='Edit.showcaptions'/>]", " class='dnnCheckbox'")
            </div>
            <div id="imageselectlist" class="col-xs-12" style="display: none;"></div>
            <div id="imagelist" class="col-xs-12"></div>
        </div>
    </div>
</div>


<div class="row docinput">
    <div class="form dnnForm">
        <div class="form-group">
            <div id="docselectlist" class="col-xs-12" style="display: none;"></div>
            <div id="doclist" class="col-xs-12"></div>
        </div>
    </div>
</div>

<script>
    
    if ($("input[type='radio'][name='editortyperadio']:checked").val() == '0') {
        $('#simpletexteditor').hide();
        $('#richtexteditor').show();
    } else {
        $('#simpletexteditor').show();
        $('#richtexteditor').hide();
    }
    $('input[type="radio"][name="editortyperadio"]').click(function () {
        if ($(this).val() == '0') {
            $('#simpletexteditor').hide();
            $('#richtexteditor').show();
        } else {
            $('#simpletexteditor').show();
            $('#richtexteditor').hide();
        }
    });

</script>