@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web.UI.WebControls
@using System.Xml
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID"></input>
<input id="moduleid" type="hidden" value="@info.ModuleId"></input>
<input id="lang" type="hidden" value="@info.Lang"></input>

<div id="recyclebin" style="display:none;"></div>

@EditCultureSelect("flag-list", "selecteditlanguage")

<div class="buttons">
    <button id="return" type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-triangle-left"></span>@ResourceKey("Edit.return")</button>
    <button id="delete" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span>@ResourceKey("Edit.delete")</button>
    <button id="savedata" type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-floppy-save"></span>@ResourceKey("Edit.save")</button>
</div>

@RadioButtonList(info, "genxml/radiobuttonlist/layout", "0,1,2,3,4,5,6,7,8", "<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper0.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper1.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper2.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper3.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper4.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper5.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper6.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper7.png'/>,<img src='/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/img/Newspaper8.png'/>", "class='NewspaperLayout'", "0")


@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/headeradmin.cshtml", Model)

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/editortextadmin.cshtml", Model)

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/imageadmin.cshtml", Model)

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/docsadmin.cshtml", Model)

