@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/SocialLinks/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("sx,s,ex")

<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">

        <div class="form-group">
            <label>@ResourceKey("Settings.facebook")</label>
            @TextBox(info, "genxml/textbox/facebook", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.twitter")</label>
            @TextBox(info, "genxml/textbox/twitter", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.linkedin")</label>
            @TextBox(info, "genxml/textbox/linkedin", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.googleplus")</label>
            @TextBox(info, "genxml/textbox/googleplus", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.youtube")</label>
            @TextBox(info, "genxml/textbox/youtube", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.dailymotion")</label>
            @TextBox(info, "genxml/textbox/dailymotion", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.flickr")</label>
            @TextBox(info, "genxml/textbox/flickr", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.picasa")</label>
            @TextBox(info, "genxml/textbox/picasa", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.viadeo")</label>
            @TextBox(info, "genxml/textbox/viadeo", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.vimeo")</label>
            @TextBox(info, "genxml/textbox/vimeok", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.tripadvisor")</label>
            @TextBox(info, "genxml/textbox/tripadvisor", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Settings.rss")</label>
            @TextBox(info, "genxml/textbox/rss", "class='form-control'")
        </div>

    </div>
    </div>
</div>
