@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "ResponsiveSlides.view.cshtml", Model.ModuleId.ToString(""))

@{
    var msg = "";
    if (Model.Settings != null && !Model.Settings.ContainsKey("imgresize")) // test specific theme setting to check for settings.
    {
        msg = ResourceKey("View.nosettings").ToString();
    }
    var divid = "NBrightMod" + @Model.GetSetting("modref");
}
@(msg)

@{
    var lp = 1;
    var wrapperclass = "topimageheader";
    if (Model.GetSetting("mask") == "True")
    {
        wrapperclass = "topimageheader tih-mask";
    }
}
@foreach (NBrightInfo info in Model.List)
{
    var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");

    if (imageurl != "")
    {
    var width = Model.GetSetting("width");
    var height = Model.GetSetting("height");
    <div class="@(wrapperclass)" style="background:url('/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=@(width)&h=@(height)') center @Model.GetSetting("crop") no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
        -o-background-size: cover;
  background-size: cover;">
    <div class="caption">
        <h2>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h2>
        <h3>@info.GetXmlProperty("genxml/lang/genxml/textbox/title2")</h3>
    </div>
    </div>
    }
    lp+=1;
}

