@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath",GetTemplateFilePath(Model.GetSetting("themefolder"), "Theme.resx", Model.GetSetting("modref"), "resx", false).ToString())

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/Themes/HtmlContent/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID"></input>
<input id="moduleid" type="hidden" value="@info.ModuleId"></input>
<input id="lang" type="hidden" value="@info.Lang"></input>

<div id="recyclebin" style="display:none;"></div>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("sr,s,d,r")

<div class="panel panel-default"><div class="panel-body">
<div class="form-group">
    <div class="col-sm-6">
      <label>@ResourceKey("Theme.icon")</label>
      @NBrightTextBox(info, "genxml/textbox/icon")
      <small class="form-text text-muted"><a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">Font Awesome 5</a></small>
    </div>
    <div class="col-sm-2">
      <label>@ResourceKey("Theme.style")</label>
      @DropDownList(info, "genxml/dropdownlist/iconstyle", "fas,far,fab", "Solid,Regular,Brands", " class='form-control' ", "")
    </div>
    <div class="col-sm-4">
      <label>@ResourceKey("Theme.size")</label>
      @DropDownList(info, "genxml/dropdownlist/iconsize", ",fa-xs,fa-sm,fa-lg,fa-2x,fa-3x,fa-5x,fa-7x,fa-10x", ",fa-xs,fa-sm,fa-lg,fa-2x,fa-3x,fa-5x,fa-7x,fa-10x", " class='form-control' ", "")
    </div>
</div>
</div></div>

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/header-shared.cshtml", Model)

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/editortext-shared.cshtml", Model)

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/links-shared.cshtml", Model)
