@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@AddMetaData("resourcepath",GetTemplateFilePath(Model.GetSetting("themefolder"), "Theme.resx", Model.GetSetting("modref"), "resx", false).ToString())

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<style>
body {margin:20px;color:#595959;font-size:14px;font-family:Arial, Helvetica;line-height:18px;}
h2 {font-size:30px;color:#242a31;line-height:30px;font-family:Arial, Helvetica;}
.datatable {margin:20px 0;border-collapse:collapse;}
.datatable td {padding:12px;border:1px solid #ddd;}
</style>

<h2>@Model.GetSetting("emailsubject")</h2>
<table class="datatable" border="0" cellspacing="2" cellpadding="0">
<tr>
<td align="right"><label>@ResourceKey("Theme.firstname")</label></td>
<td>@info.GetXmlProperty("genxml/textbox/firstname")</td>
</tr>
<tr>
<td align="right"><label>@ResourceKey("Theme.lastname")</label></td>
<td>@info.GetXmlProperty("genxml/textbox/lastname")</td>
</tr>
<tr>
<td align="right"><label>@ResourceKey("Theme.email")</label></td>
<td>@info.GetXmlProperty("genxml/textbox/clientemail")</td>
</tr>
<tr>
<td align="right"><label>@ResourceKey("Theme.tel")</label></td>
<td>@info.GetXmlProperty("genxml/textbox/tel")</td>
</tr>
<tr>
<td align="right"><label>@ResourceKey("Theme.subject")</label></td>
<td>@info.GetXmlProperty("genxml/textbox/subject")</td>
</tr>
<tr>
<td align="right"><label>@ResourceKey("Theme.message")</label></td>
<td>@info.GetXmlProperty("genxml/textbox/emailsendermsg")</td>
</tr>
</table>