@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@AddMetaData("resourcepath",GetTemplateFilePath(Model.GetSetting("themefolder"), "Theme.resx", Model.GetSetting("modref"), "resx", false).ToString())

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = new NBrightInfo();
    var langcode = Model.GetUrlParam("language");
    if (langcode != "")
    {
        langcode = langcode.Substring(0, 2);
    }
}

@if (langcode != "" && langcode != "en")
{
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_@(langcode).js"></script>
}

<h2>@ResourceKey("Theme.contact")</h2>

<div id="emailform@(Model.ModuleId)" class="contactform">

    <input id="moduleid" type="hidden" value="@Model.ModuleId"></input>
    <input id="lang" type="hidden" value="@Model.GetUrlParam("language")"></input>
    <input id="emailreturnmsg" type="hidden" value="@ResourceKey("Theme.emailreturnmsg")"></input>
    <input id="invalidemailmsg" type="hidden" value="@ResourceKey("Theme.invalidemailmsg")"></input>

    <div class="contactformfields">
      <div class="cff-100">
      <div class="cff-50">
        <label>@ResourceKey("Theme.firstname")</label>
        @TextBox(info, "genxml/textbox/firstname")
      </div>
      <div class="cff-50">
        <label>@ResourceKey("Theme.lastname")</label>
        @TextBox(info, "genxml/textbox/lastname")
      </div>
      </div>
      <div class="cff-100">
      <div class="cff-50">
        <label>@ResourceKey("Theme.email") *</label>
        @TextBox(info, "genxml/textbox/clientemail", "type='email' required")
      </div>
      <div class="cff-50">
        <label>@ResourceKey("Theme.tel")</label>
        @TextBox(info, "genxml/textbox/tel")
      </div>
      </div>
      <label>@ResourceKey("Theme.subject")</label>
      @TextBox(info, "genxml/textbox/subject")
      <label>@ResourceKey("Theme.message")</label>
      <textarea rows="4" id="emailsendermsg" update="save" type="text">@info.GetXmlProperty("genxml/textbox/emailsendermsg")</textarea>
    </div>

    <button id="sendemail@(Model.ModuleId)" type="button" class="bigbutton">@ResourceKey("Theme.send")</button>

    <div id="emailreturnmsg@(Model.ModuleId)"></div>

    <div id="spinner@(Model.ModuleId)" class="spinner" style="display:none;">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

</div>

<script>
    $( document ).ready(function() {

        var form = $("#Form");
        form.validate();

        $('#sendemail@(Model.ModuleId)').click(function () {

            if (form.valid()) {
                NBrightMod_nbxget('sendemail', '#emailform@(Model.ModuleId)', '#emailreturnmsg@(Model.ModuleId)');
                $('#sendemail@(Model.ModuleId)').hide();
                $('#spinner@(Model.ModuleId)').show();
            }

        });

        $('#emailreturnmsg@(Model.ModuleId)').change(function () {
            $('.contactformfields').find('input').val('');
            $('.contactformfields').find('textarea').val('');
            $('#spinner@(Model.ModuleId)').hide();
        });

    });

</script>