@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
    var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
}

<div class="about-content">

@if (imageurl != "")
{
<img src="@(imageurl)" />
}
<div class="about-text">@BreakOf(info, "genxml/lang/genxml/textbox/text")</div>
<div class="about-link">@linksection(info)</div>

</div>

@helper linksection(NBrightInfo info)
{
    if (info.GetXmlPropertyInt("genxml/radiobuttonlist/rbllink") == 1)
    {
        var tabddlvalue = @GetTabUrlByGuid(info, "/genxml/dropdownlist/linktab");
        <a href="@(tabddlvalue)">@info.GetXmlProperty("genxml/lang/genxml/textbox/linktitle")</a>
    }
    if (info.GetXmlPropertyInt("genxml/radiobuttonlist/rbllink") == 2)
    {
        var externalURL = info.GetXmlProperty("genxml/lang/genxml/textbox/externalhref");
        <a href="@(externalURL)" target="_blank">@info.GetXmlProperty("genxml/lang/genxml/textbox/linktitle")</a>
    }

}