@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath",GetTemplateFilePath(Model.GetSetting("themefolder"), "Theme.resx", Model.GetSetting("modref"), "resx", false).ToString())

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("sx,s,ex")

<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">

        <div class="form-group">
            <label>@ResourceKey("Edit.title")</label>
            @NBrightTextBox(info, "genxml/lang/genxml/textbox/title")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.facebook")</label>
            @TextBox(info, "genxml/textbox/facebook", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.twitter")</label>
            @TextBox(info, "genxml/textbox/twitter", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.linkedin")</label>
            @TextBox(info, "genxml/textbox/linkedin", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.googleplus")</label>
            @TextBox(info, "genxml/textbox/googleplus", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.youtube")</label>
            @TextBox(info, "genxml/textbox/youtube", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.pinterest")</label>
            @TextBox(info, "genxml/textbox/pinterest", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.flickr")</label>
            @TextBox(info, "genxml/textbox/flickr", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.viadeo")</label>
            @TextBox(info, "genxml/textbox/viadeo", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.vimeo")</label>
            @TextBox(info, "genxml/textbox/vimeok", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.tripadvisor")</label>
            @TextBox(info, "genxml/textbox/tripadvisor", "class='form-control'")
        </div>
        <div class="form-group">
            <label>@ResourceKey("Theme.rss")</label>
            @TextBox(info, "genxml/textbox/rss", "class='form-control'")
        </div>

    </div>
    </div>
</div>
