@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using System
@using System.Web
@using System.Web.Configuration
@using NBrightDNN
@using RazorEngine.Text

@{
    var info = (NBrightInfo)Model.List.First();
    var socialclass = "socialicons";
    if (Model.GetSetting("colored") == "True")
    {
        socialclass = "socialicons si-colored";
    }
}

@if (info.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
{
<h4>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h4>
}

<div class="@(socialclass)">

    @if (info.GetXmlProperty("genxml/textbox/facebook") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/facebook")" class="facebookicon" target="_blank"><i class="fab fa-facebook-square"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/twitter") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/twitter")" class="twittericon" target="_blank"><i class="fab fa-twitter-square"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/linkedin") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/linkedin")" class="linkedinicon" target="_blank"><i class="fab fa-linkedin"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/googleplus") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/googleplus")" class="googleplusicon" target="_blank"><i class="fab fa-google-plus-square"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/youtube") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/youtube")" class="youtubeicon" target="_blank"><i class="fab fa-youtube"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/pinterest") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/pinterest")" class="pinteresticon" target="_blank"><i class="fab fa-pinterest-square"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/flickr") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/flickr")" class="flickricon" target="_blank"><i class="fab fa-flickr"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/viadeo") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/viadeo")" class="viadeoicon" target="_blank"><i class="fab fa-viadeo-square"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/vimeo") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/vimeo")" class="vimeoicon" target="_blank"><i class="fab fa-vimeo-square"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/tripadvisor") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/tripadvisor")" class="tripadvisoricon" target="_blank"><i class="fab fa-tripadvisor"></i></a>
    }
    @if (info.GetXmlProperty("genxml/textbox/rss") != "")
    {
        <a href="@info.GetXmlProperty("genxml/textbox/rss")" class="rssicon" target="_blank"><i class="fas fa-rss-square"></i></a>
    }

</div>