@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/SimpleArticles/resx/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "Timeline.view.cshtml", Model.ModuleId.ToString(""))

<div class="timeline">
    
<h1>Timeline</h1>	
	
    @foreach (NBrightInfo info in Model.List)
	{
	<div class="timeline-item">
	<div class="timeline-date">@info.GetXmlProperty("genxml/lang/genxml/textbox/date")</div>
	<h2>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h2>
	<p>@BreakOf(info, "genxml/lang/genxml/textbox/summary")</p>
	</div>
	}

</div>