@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@{
    var info = (NBrightInfo)Model.List.First();
}

<div>
    <div class='dnnFormItem'>
        @DnnLabel("lblUploadFolder", "Settings.uploadfolder")
        @TextBox(info, "genxml/textbox/settinguploadfolder", "", "articles")
    </div>
    <div class='dnnFormItem'>
        @DnnLabel("lblimgresize", "Settings.imgresize")
        @TextBox(info, "genxml/textbox/imgresize","class='form-control' width='100px' maxlength='5' ","820")
    </div>
    <div style="display:none">
        <!-- set flag so upload of files replaces the current selected -->
        @CheckBox(info, "genxml/checkbox/replaceimages", "", "",true);
    </div>
</div>

