@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN
@using System.Xml

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "Fancybox3.view.cshtml", Model.ModuleId.ToString(""))

@{
    var info = (NBrightInfo)Model.List.First();
}

@helper imagedisplay(NBrightInfo info)
{
var imgList = info.XMLDoc.SelectNodes("genxml/imgs/genxml");
if (imgList != null)
{
    var width = Model.GetSetting("width");
    var height = Model.GetSetting("height");
    var imglp = 1;
    foreach (XmlNode i in imgList)
    {
        var nbi = new NBrightInfo();
        nbi.XMLData = i.OuterXml;
        var group = Model.GetSetting("modref");
        var imageurl = nbi.GetXmlProperty("genxml/hidden/imageurl");
        var imgcaption = info.GetXmlProperty("genxml/lang/genxml/imgs/genxml[" + imglp + "]/textbox/imgcaption");
        if (imageurl != "")
        {
            <a data-fancybox="@(group)" data-caption="@(imgcaption)" href="@(imageurl)">
            <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=@(width)&h=@(height)" alt="@(imgcaption)" />
            </a>
        }
        imglp += 1;
    }
}
}

<div class="gallery-wrapper">

@if (info.GetXmlProperty("genxml/lang/genxml/textbox/title") != "")
{
<h2>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h2>
<hr />
}

<div class="gallery">
@imagedisplay(info)
</div>

</div>

<script type="text/javascript">

$("[data-fancybox]").fancybox({
  lang : 'fr',
  i18n : {
      'fr' : {
          CLOSE       : 'Fermer',
          NEXT        : 'Suivant',
          PREV        : 'Précédent',
          ERROR       : 'Le contenu demandé ne peut pas être chargé.<br />Veuillez réessayer plus tard.',
          PLAY_START  : 'Démarrer le diaporama',
          PLAY_STOP   : 'Mettre en pause le diaporama',
          FULL_SCREEN : 'Plein écran',
          THUMBS      : 'Vignettes',
          DOWNLOAD    : 'Télécharger',
          SHARE       : 'Partager',
          ZOOM        : 'Zoomer'
      }
  }
});

</script>