@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/FancyboxGallery/resx/")

@{
    var info = (NBrightInfo)Model.List.First();
}

<input id="itemid" type="hidden" value="@info.ItemID" ></input>
<input id="moduleid" type="hidden" value="@info.ModuleId" ></input>
<input id="lang" type="hidden" value="@info.Lang" ></input>

@EditCultureSelect("flag-list", "selecteditlanguage")

@EditButtons("s,d,r")

@RenderTemplate("/DesktopModules/NBright/NBrightMod/Themes/Shared/image1-shared.cshtml", Model)


<div class="row">
<div class="col-xs-12 col-sm-12">
    <div class="box">
        
        <div class="formrow">
            <label>@ResourceKey("Edit.title")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px' />
            <div>@TextBox(info, "genxml/lang/genxml/textbox/title")</div>
        </div>
        <div class="formrow">
            <label>@ResourceKey("Edit.infodesc")</label><img src='/Images/Flags/@(info.Lang).gif' width='16px' />
            <div id="richtexteditor">
                @CheckBox(info, "genxml/checkbox/hidedescription", "ResourceKey:Edit.hidedescription", "True")
                @RichTextBox(info, "genxml/lang/genxml/textbox/infodesc", "")
            </div>
        </div>

    </div>
    </div>
</div>
