@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/FancyboxGallery/resx/")

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "FancyboxGallery.view.cshtml", Model.ModuleId.ToString(""))

<h1>@ResourceKey("View.gallery")</h1>

<div class="gallery">

    @foreach (NBrightInfo info in Model.List)
        {
        var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
        if (imageurl != "")
        {
        var width = Model.GetSetting("width");
        var height = Model.GetSetting("height");
        var title = info.GetXmlProperty("genxml/lang/genxml/textbox/title");
        <a class="fancybox" rel="group" title="@(title)" href="@(imageurl)">
        <img src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=@(width)&h=@(height)" alt="@(title)" />
        </a>
        }
        }

</div>

<script type="text/javascript">
$(document).ready(function() {
			$('.fancybox').fancybox({
			tpl: {
				closeBtn : '<a title="@ResourceKey("View.close")" class="fancybox-item fancybox-close" href="javascript:;"></a>',
				next     : '<a title="@ResourceKey("View.next")" class="fancybox-nav fancybox-next" href="javascript:;"><span></span></a>',
				prev     : '<a title="@ResourceKey("View.previous")" class="fancybox-nav fancybox-prev" href="javascript:;"><span></span></a>'
			}
    });
});
</script>