@inherits NBrightMod.render.NBrightModRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath","/DesktopModules/NBright/NBrightMod/Themes/OwlSlider/resx/")

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightMod/App_LocalResources/")
@AddPreProcessMetaData("orderby", "ORDER BY NB1.XMLData.value('(genxml/hidden/sortrecordorder)[1]','int')", "OwlSlider.view.cshtml", Model.ModuleId.ToString(""))

@{
    var msg = "";
    if (Model.Settings != null && !Model.Settings.ContainsKey("imgresize")) // test specific theme setting to check for settings.
    {
        msg = ResourceKey("View.nosettings").ToString();
    }
        var divid = "NBrightMod" + @Model.GetSetting("modref");
}
@(msg)

<div class="owl-wrapper">
    <div id="@(divid)" class="owl-carousel">

        @{
            var lp = 1;
        }
        @foreach (NBrightInfo info in Model.List)
        {
            var imageurl = info.GetXmlProperty("genxml/imgs/genxml[1]/hidden/imageurl");
            <div class="slider-item">
                @if (imageurl != "")
                {
                    var width = Model.GetSetting("width");
                    var height = Model.GetSetting("height");
                    var title = info.GetXmlProperty("genxml/lang/genxml/textbox/title");
                    <img class="owl-lazy" src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=@(width)&h=@(height)" data-src="/DesktopModules/NBright/NBrightData/NBrightThumb.ashx?src=@(imageurl)&w=@(width)&h=@(height)" alt="@(title)" />
                }
                <div class="slider-caption">
                    <h3>@info.GetXmlProperty("genxml/lang/genxml/textbox/title")</h3>
                    <h3>@info.GetXmlProperty("genxml/lang/genxml/textbox/title2")</h3>
                    <p>@BreakOf(info, "genxml/lang/genxml/textbox/text")</p>
                    @if (info.GetXmlProperty("genxml/lang/genxml/textbox/linktext") != "")
                    {
                        var tabddl = @GetTabUrlByGuid(info, "/genxml/dropdownlist/linktab");
                        <a href="@(tabddl)" class="bigbutton">@info.GetXmlProperty("genxml/lang/genxml/textbox/linktext")</a>
                    }
                </div>
            </div>

            lp+=1;
        }

    </div>
</div>
    @if (Model.List.Count > 1)
    {
        <script type="text/javascript">
            $(window).load(function() {

                $('#@(divid)').owlCarousel({
                    animateOut: '@Model.GetSetting("animateout")',
                    animateIn: '@Model.GetSetting("animatein")',
                    loop: @Model.GetSetting("loop"),
                    autoplay: @Model.GetSetting("autoplay"),
                    margin: @Model.GetSetting("margin"),
                    items: @Model.GetSetting("items"),
                    center: @Model.GetSetting("center"),
                    smartSpeed: @Model.GetSetting("smartspeed"),
                    lazyLoad : true
                    });

            });
        </script>
    }
    else
    {
        if (Model.List.Count == 1)
        {
            <div>@ResourceKey("View.imgmessage")</div>
        }
    }
